/* reset styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
html {
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* global styles*/
.container {
  width: 80%;
  padding: 20px 0;
  margin: 0 auto;
}
.d-inline-block {
  display: inline-block;
}
hr {
  width: 10%;
  border: solid 1.5px #ff8b38;
  margin: 10px 0;
}

/*navbar*/
nav {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}

.container .nav-ul {
  margin-left: 50%;
}

.container .nav-ul li {
  color: white;
}
.container .nav-ul li a.active {
  color: #ff8b2f;
}
.container .nav-ul a {
  font-size: 18px;
  color: #fff;
  padding: 0 10px;
}

.container .nav-ul a:hover {
  color: #ff8b2f;
}
.banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  padding-bottom: 8%;
}
.banner-content {
  width: 45%;
}

.banner-content img {
  padding: 100px 0 30px 0;
}
.banner-content h2 {
  color: #fff;
  font-weight: normal;
  font-size: 36px;
}
.banner-content hr {
  border: solid 1.5px white;
}

.banner-content p {
  color: #909195;
  font-size: 15px;
  margin: 30px 0px;
}
.download {
  border: 2px solid #fff;
  text-align: center;
  color: #fff;
  font-size: 15px;
  background: transparent;
  padding: 12px 30px;
  transition: 0.5s ease-in-out;
  /* margin-bottom: 100px;*/
}
.download:hover {
  background: white;
  color: #000;
}
/*form of banner section*/
.form {
  width: 30%;
  height: 400px;
  margin-left: 20%;
  background-color: #fff;
}
.form h3 {
  background-color: #f5f5f5;
  text-align: center;
  padding: 25px;
}
.form input {
  display: block;
  padding: 10px;
  margin: 25px auto;
  width: 75%;
  border: none;
  border-bottom: solid 1px #ebebeb;
}
.form input:focus {
  outline: none;
  border-bottom: 1px solid #ff9b51;
}
.form .btn {
  width: 100%;
  padding: 20px;
  border: none;
  color: #fff;
  background-color: #ff9b51;
  margin-top: 55px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.form .btn:hover {
  background-color: #000;
  color: #fff;
}
.form span {
  color: #ff9b51;
}
/*Social Media Icons*/
.socail-media {
  width: 40%;
}
.socail-media h2 {
  font-size: 18px;
  padding: 5px 0;
}
.socail-media p {
  color: #909195;
  font-size: 15px;
}
.icons {
  margin-left: 10%;
}

.icons i {
  color: #cccccc;
  padding: 10px 0 0 40px;
  font-size: 38px;
  cursor: pointer;
}
.icons i:hover {
  color: #ff9b51;
}
/*About Section*/
.about {
  background-color: #f5f5f5;
  padding: 80px 0;
}
.tabs {
  margin-top: 5%;
  width: 20%;
}
.tab-Des {
  width: 45%;
  vertical-align: bottom;
}
.tab-Des p {
  margin: 20px 0;
  color: #909195;
  font-size: 14px;
  padding-right: 20px;
}
.tabs .tab {
  width: 115px;
  height: 115px;
  background-color: #333333;
  color: #fff;
  border: solid 1px white;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  line-height: 100px;
}
.tab-img {
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  width: 25%;
  vertical-align: 150px;
}
.active-tab {
  background-color: #ff8b38 !important;
}
.tabs .tab:hover {
  background-color: #ff8b38;
}
.btn-Download {
  padding: 20px;
  border: none;
  color: #fff;
  background-color: #ff8b38;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s ease-in-out;
  margin: 40px 0;
}

.btn-Download:hover {
  background-color: #000;
  color: #fff;
}
.sub-list {
  margin: 10% 0;
}

.sub-list img {
  width: 40%;
  vertical-align: middle;
}
.sub-list-content {
  vertical-align: middle;
  width: 45%;
  margin-left: 14%;
}
.sub-list-content h3 {
  margin: 30px 0;
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}

.sub-list-content p {
  color: #909195;
  font-size: 14px;
  padding: 15px 0;
  line-height: 1.5;
  width: 75%;
}
.title-text {
  width: 80%;
  margin-left: 20px;
  vertical-align: -50px;
}

.title i {
  color: #ff8f3f;
  font-size: 18px;
  border: 2px solid #ff8f3f;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px;
}
.standard-picture {
  background-color: #f5f5f5;
}

.standadrd-picture-content {
  width: 40%;
  vertical-align: 130px;
  margin: 0 0 15% 85px;
}
.standadrd-picture-content h3 {
  margin: 0 0 30px 0;
  font-size: 20px;
  font-weight: 700;
}

.standadrd-picture-content p {
  color: #909195;
  font-size: 15px;
  padding: 15px 0;
  line-height: 1.5;
}
.standard-picture img {
  width: 45%;
}

.awesome h2 {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  color: #212121;
  line-height: 43px;
  text-transform: uppercase;
  margin: 60px 20px 0;
}
.awesome hr {
  width: 10%;
  margin: 30px auto;
}
.awesome p {
  color: #909195;
  text-align: center;
}
.awsesome-icon {
  width: 33%;
  margin: 50px 0;
}
.awsesome-icon h3 {
  font-size: 20px;
  color: #333333;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.awsesome-icon i {
  text-align: center;
  margin: 20px 150px;
  color: #ff8f3f;
  font-size: 28px;
  border: 2px solid #ff8f3f;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
}
.awsesome-icon p {
  padding: 0 20px;
  text-align: center;
  color: #909195;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
}
.pricing {
  background-color: #f5f5f5;
}
.pricing h2 {
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  color: #212121;
  line-height: 43px;
  text-transform: uppercase;
  margin: 60px 20px 0;
}
.pricing p {
  padding: 0 20px;
  text-align: center;
  color: #909195;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
}
.pricing hr {
  width: 8%;
  margin: 20px auto;
}
.pricing-card {
  width: 30%;
  text-align: center;
  margin: 50px 10px;
}
.pricing-card h3 {
  background: #333333;
  color: #fff;
  padding: 22px 0;
  padding: 22px 0;
  border-bottom: 1px solid #fff;
}
.pricing-card h4 {
  background: #333333;
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  line-height: 120px;
}

.pricing-card h5 {
  background: #333333;
  color: #909195;
  font-size: 14px;
  font-style: italic;
  border-bottom: 5px solid #ff8b38;
  font-style: italic;
  padding-bottom: 20px;
}
.pricing-card ul {
  background: #fff;
}
.pricing-card ul li {
  padding: 15px 0;
  border-bottom: 1px solid #90919554;
}
.pricing-card .most-popular {
  background-color: #ff8b38;
  color: #fff;
  padding: 7px 0;
  font-weight: 600;
}
.manger-card {
  background-color: #f5f5f5;
  margin: 15px 50px;
  padding: 15px;
  position: relative;
}
.manger-card p {
  color: #909195;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
}
.manger-card .triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #f5f5f5;
  position: absolute;
  top: 100%;
  left: 10%;
}
.reviews-header h3 {
  text-align: center;
}

.reviews-header p {
  text-align: center;
  margin: 15px 0;
}
.reviews-header hr {
  margin: 25px auto;
  width: 5%;
}
.review-body {
  width: 33%;
}
.manger-info {
  vertical-align: 40px;
  margin-left: 15px;
}
.manger-info p {
  color: #909195;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
}
.manger-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.fix-position {
  margin: 25px 60px;
}
.axure-design {
  background: url(../images/news.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.axure-design h2 {
  padding: 60px 0 15px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
}
.axure-design p {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 30px;
}
.axure-design hr {
  width: 5%;
  margin: 2% auto;
  border-color: #fff;
}
.axure-design button {
  margin-bottom: 60px;
}
.contact-us {
  text-align: center;
}
.contact-us h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  margin: 60px 20px 0;
}
.contact-us hr {
  width: 5%;
  margin: 25px auto;
}

.contact-us form input {
  padding: 10x;
  margin: 25px 20%;
  width: 80%;
  border: none;
  border-bottom: solid 1px #ebebeb;
}
.contact-us form input:focus {
  outline: none;
  border-bottom: 1px solid #ff9b51;
}
.contact-us form textarea {
  height: 200px;
  width: 40%;
  border: none;
  margin-top: 4%;
  margin-left: 3%;
  border-bottom: solid 1px #ebebeb;
}
.contact-us .btn-Download {
  margin: 45px auto;
  display: block;
}
.footer {
  background-color: #000000;
}
.footer .footer-icon {
  color: #fff;
  text-align: center;
  font-size: 18px;
}
.footer .footer-icon i {
  padding: 10px;
}
.footer h5,
h6 {
  color: #797979;
  font-size: 12px;
  padding: 2px 0;
  text-align: center;
}
